// Branding

$blue: #4dbcf8;
$red: #d94067;
$gray: #bbbbbb;
$yellow: #FFDD4A;
$font-color-body: #404040;
$font-family-body: 'Karla';
$font-family-title: 'Fredoka One';
$device-width: 960px;

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: $font-family-body, sans-serif;
	color: $font-color-body;
	overflow: hidden;
}

*, *:hover {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }

a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}

.title {
	font-family: $font-family-title, sans-serif;
	font-size: 3em;
}

.button {
	text-align: center;
	background: $yellow;
	border-radius: 0.5em;
    box-shadow: 0 4px 0 0 darken($yellow, 18%);
    transition: transform 0.1s, box-shadow 0.1s;
    color: $font-color-body;

    &:active{
        transform: translateY(4px);
        box-shadow: none;
    }
}

nav {
	width: 100%;
	padding: 1em 2em;
    position: absolute;
    top: 0;
    height: 40px;
    background: transparent;
    z-index: 1;
	* {
		display: inline-block;
		margin: 0;
	}
	.logo h3 {
		font-size: 2em;
		color: $blue;
		opacity: 0.8;
		&:hover {
			opacity: 1;
		}
	}
	.account {
		float: right;
		margin-right: 50px;
		vertical-align: middle;
		> * {
			margin-left: 0.5em;
		}
		.account-options {
			padding-left: 0;
			li {
				display: inline-block;
			}
			.settings, .logout {
				width: 15px;
				height: 15px;
				text-align: center;
				border-radius: 50% 50%;
				padding: 1em;
				vertical-align: middle;
				&:hover {
					cursor: pointer;
				}
			}
			.logout {
				background: lighten($red, 9%);
				box-shadow: 0 4px 0 0 $red;
			}
		}
	}
}

@media only screen and (max-width: $device-width){

	nav {
		width: calc(100% - 2em);
		padding: 1em;
		.account {
			margin-right: 0;
		}
	}
}

