// Branding

$blue: #4dbcf8;
$red: #d94067;
$gray: #bbbbbb;
$yellow: #FFDD4A;
$font-color-body: #404040;
$font-family-body: 'Karla';
$font-family-title: 'Fredoka One';

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: $font-family-body, sans-serif;
	color: $font-color-body;
	overflow-x: hidden;
}

*, *:hover {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }

a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}

.title {
	font-family: $font-family-title, sans-serif;
	font-size: 3em;
}

nav {
	padding: 1em 2em;
	* {
		display: inline-block;
		margin: 0;
	}
	.logo h3 {
		font-size: 2em;
		color: $blue;
	}
	.account {
		float: right;
		vertical-align: middle;
		> * {
			margin-left: 0.5em;
		}
		.fa {
			width: 15px;
			height: 15px;
			text-align: center;
			vertical-align: middle;
			border-radius: 50% 50%;
			padding: 1em;
			background: $yellow;
			box-shadow: 0 4px 0 0 #FFBB2B;
			transition: transform 0.1s, box-shadow 0.1s;

		    &:active{
		        transform: translateY(4px);
		        box-shadow: none;
		    }
		}
	}
}