@import 'base';

$pixel-size: 7px;

#view-board {
    position: relative;
    > .container {
        width: 100%;
        height: 100%;
        overflow: auto;
        margin: auto;
        padding: 1em 0.5em;
    }
    .content {
        width: 80%;
        margin: auto;
    }
    .board-details {
        h1 {
            font-family: $font-family-title;
            font-size: 3em;
            margin: 0.5em 0;
        }
        p {
            display: inline-block;
            font-size: 1.25em;
            color: lighten($font-color-body, 25%);
            margin: 0.5em;
            margin-left: 0;
            .fa {
                margin: 0;
                margin-right: 5px;
            }
        }
    }
    .board-container {
        display: inline-block;
        .board {
          margin: 20px 20px 0 0;
          min-width: $pixel-size * 96;
            .row {
                display: flex;
                .block {
                    width: $pixel-size;
                    height: $pixel-size;
                    transition: opacity 0.1s;

                    .overlay{
                        opacity: 0;
                        width: $pixel-size;
                        height: $pixel-size;
                        position: absolute;
                        background-color: $blue;
                    }

                    &:hover .overlay{
                        opacity: 0.5;
                    }
                }
            }
        }
        &:hover {
            cursor: crosshair;
        }
    }
    #board-panel {
        display: inline-block;
        vertical-align: top;
        margin: 1em;
        .fa {
            margin-right: 0.5em;
        }
        #paint {
            p {
                font-size: 1.25em;
                margin: 1.5em 0;
                color: lighten($font-color-body, 25%);
            }
            #pixcolor {
                width: 25px;
                height: 25px;
                padding: 1em;
                margin-left: 2em;
                color: rgba(0,0,0,0) !important;
                border-radius: 50% 50%;
                border: 4px solid lighten($font-color-body, 65%) !important;
                &:focus {
                    outline: none !important;
                }
                &:hover {
                    cursor: pointer !important;
                }
            }
        }
        #leaderboard {
            font-size: 1.25em;
            margin-bottom: 2em;
            p {
                margin: 1.5em 0;
                color: lighten($font-color-body, 25%);
            }
            .username {
                font-weight: bold;
            }
            .count {
                float: right;
            }
            table {
                min-width: 300px;
                padding: 0 1em;
            }
            td {
                padding: 0.25em;
            }
        }
    }
}

@media only screen and (max-width: $device-width){
    #view-board {
        font-size: 0.8em;
        .container {
            padding: 2.5em 0;
        }
        .board-container {
            display: block;
            .board {
                min-width: 100vw;
                .row {
                    .block, .block .overlay{
                        width: calc(100vw / 96);
                        height: calc(100vw / 96);
                    }
                }
            }
        }
        .board-details{
            width: 80%;
            margin: auto;
            > * {
                margin: 0.25em;
            }
        }
        .back-arrow {
            width: 15px;
            height: 15px;
            font-size: 1em;
            left: 10px;
            right: auto;
        }
        .content {
            width: 100%;
            margin: auto;
        }
    }
}
