@import 'base';

.container {
	width: 100%;
	height: 100%;
    overflow: auto;
	margin: auto;
}

.content {
	width: 80%;
	margin: auto;
}

.board-container{
    display: flex;
}

.board{
  margin: 20px 20px 0 0;
  min-width: 770px;
}

.board-details{
    min-width: 300px;
}

.row {
    display: flex;
}

.block {
    width: 8px;
    height: 8px;
    transition: opacity 0.1s;

    .overlay{
        opacity: 0;
        width: 8px;
        height: 8px;
        position: absolute;
        background-color: $blue;
    }

    &:hover .overlay{
        opacity: 0.5;
    }
}

.back-arrow {
    width: 15px;
    height: 15px;
    padding: 1em;
    position: sticky;
    right: 2em;
    border-radius: 50% 50%;
    text-align: center;
}

@media only screen and (max-width: 900px){
    .board-container{display: block;}

    .block, .block .overlay{
        width: calc(100vw / 96);
        height: calc(100vw / 96);
    }

    .board-details{
        width: 80%;
        margin: auto;
    }

    .back-arrow{
        position: relative;
        left: 10px;
    }

    .content {
    	width: 100%;
    	margin: auto;
    }
}
