@import 'base';

body {
	background: $blue;
	color: white;
}

.container {
	width: 100%;
	height: 100%;
	margin: auto;
	display: flex;
}

.content {
	width: 80%;
	margin: auto;
	text-align: center;
	position: static;
	z-index: 999;
}

.title {
	text-align: center;
	margin: 0 auto;
}

.button {
	padding: 1em;
	text-align: center;
	margin: 0.5em auto;
	background: $yellow;
	max-width: 180px;
	border-radius: 0.5em;
    box-shadow: 0 4px 0 0 #FFBB2B;
    transition: transform 0.1s, box-shadow 0.1s;
    color: $font-color-body;

    &:active{
        transform: translateY(4px);
        box-shadow: none;
    }
}

.cloud {
	position: absolute;
	opacity: 0;
}

.slow-scroll {
	animation: scroll 120000ms linear infinite;
}

.medium-scroll {
	animation: scroll 80000ms linear infinite;
}

.fast-scroll {
	animation: scroll 40000ms linear infinite;
}

@keyframes scroll {
  0%{left: -100%; opacity: 1;}
100%{left: 100%; opacity: 1;}
}
