@import 'base';

body {
	background: $blue;
	color: white;
}

.container {
	width: 100%;
	height: 100%;
	margin: auto;
	display: flex;
}

.cloud-box{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content {
	width: 80%;
	margin: auto;
	text-align: center;
	position: static;
	z-index: 999;
}

.title {
	text-align: center;
	margin: 0 auto;
}

.button {
	padding: 1em;
	text-align: center;
	margin: 0.5em auto;
	max-width: 180px;
}

.hint {
	font-size: 0.8em;
	margin: 1.5em auto;
}

.cloud {
	position: absolute;
	opacity: 0;
}

.slow-scroll {
	animation: scroll 120000ms linear infinite;
}

.medium-scroll {
	animation: scroll 80000ms linear infinite;
}

.fast-scroll {
	animation: scroll 40000ms linear infinite;
}

@keyframes scroll {
  0%{left: -100%; opacity: 1;}
100%{left: 100%; opacity: 1;}
}
