@import 'base';

#map {
    width: 100%;
    height: 100%;
}

// Sketchily, this is the label div
#markerLayer div div div div {
	font-family: $font-family-title !important;
	font-weight: bold;
}

#board-sidebar {
	width: 600px;
	height: 100%;
	position: absolute;
	top: 0;
	left: -600px;
	padding-top: 39px; // navbar height
	background: white;
	box-shadow: 0 0 0 darken(white, 18%);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	&.active {
		left: 0;
		box-shadow: 8px 0 0 darken(white, 18%);
		-webkit-transition: all 0.5s ease-out;
		-moz-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;
		.back-arrow {
			right: calc(-25px - 0.5em);
		}
	}
}

#loader{
    position: absolute;
    top: calc(39px + 2em);
    left: 0;
    width: 100%;
    z-index: 999;
    height: calc(100vh - 39px - 2em);
    background: rgba(white, 0.5);
    text-align: center;
    transition: opacity 0.2s visibility 0.2s;

    &.hide{
        opacity: 0;
        visibility: hidden;
    }

    .spinner {
        position: absolute;
        top: calc(50vh - 149px - 1em);
        left: calc(50vw - 20px);
        width: 40px;
        height: 40px;
        background-color: $blue;

        margin: 100px auto;
        -webkit-animation: rotateplane 1.2s infinite ease-in-out;
        animation: rotateplane 1.2s infinite ease-in-out;
    }

    .text{
        position: absolute;
        top: calc(50vh);
        width: 100%;
        font-family: $font-family-title;
        color: $blue;
        font-size: 1.4em;
    }
}

// http://tobiasahlin.com/spinkit/
@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@media only screen and (max-width: 900px){
    #board-sidebar {
        width: 100%;
        left: -100%;
    }
}
