@import 'base';

#map {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

// Sketchily, this is the label div
#markerLayer div div div div {
	font-family: $font-family-title !important;
	font-weight: bold;
}

#board-sidebar {
	width: 80%;
	height: 100%;
	position: fixed;
	top: 0;
	left: -80%;
	padding-top: 39px; // navbar height
	background: white;
	box-shadow: 0 0 4px darken(white, 18%);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
    overflow-y: scroll;
    #view-board > .overlay {
        background: linear-gradient(180deg, white, rgba(255,255,255,0) 90%) !important;
        width: 80%;
        height: 80px;
        margin: 0;
        padding: 0;
        top: 0;
        left: -80%;
        z-index: 1;
        position: fixed;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    .back-arrow {
        width: 25px;
        height: 25px;
        position: fixed;
        top: 80px;
        left: 25px;
        font-size: 1.5em;
        padding: 1em;
        border-radius: 50% 50%;
        text-align: center;
        z-index: 1;
        background: darken(white, 4%);
        box-shadow: 0 4px 0 0 darken(white, 22%);
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
        &:hover {
            cursor: pointer;
        }
    }
	&.active {
		left: 0;
		box-shadow: 8px 0 0 darken(white, 18%);
		-webkit-transition: all 0.5s ease-out;
		-moz-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;
		.back-arrow {
			left: calc(80% + 25px);
		}
        #view-board > .overlay {
            left: 0;
        }
	}
}

#loader{
    position: absolute;
    top: calc(39px + 2em);
    left: 0;
    width: 100%;
    z-index: 99;
    height: calc(100vh - 39px - 2em);
    text-align: center;
    transition: opacity 0.2s visibility 0.2s;

    &.hide{
        opacity: 0;
        visibility: hidden;
    }

    .spinner {
        position: absolute;
        top: calc(50vh - 149px - 1em);
        left: calc(50vw - 20px);
        width: 40px;
        height: 40px;
        background-color: $blue;

        margin: 100px auto;
        -webkit-animation: rotateplane 1.2s infinite ease-in-out;
        animation: rotateplane 1.2s infinite ease-in-out;
    }

    .text{
        position: absolute;
        top: calc(50vh);
        width: 100%;
        font-family: $font-family-title;
        color: $blue;
        font-size: 1.4em;
    }
}

// http://tobiasahlin.com/spinkit/
@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@media only screen and (max-width: $device-width){
    #board-sidebar {
        width: 100%;
        left: -100%;
        #view-board > .overlay {
            display: none;
        }
        .back-arrow {
            left: 15px;
        }
        &.active {
            #view-board > .overlay {
                left: 0;
            }
            .back-arrow {
                left: calc(100% - 85px);
            }
        }
    }
}
