@import 'base';

#map {
    width: 100%;
    height: 100%;
}

// Sketchily, this is the label div
#markerLayer div div div div {
	font-family: $font-family-title !important;
	font-weight: bold;
}

#board-sidebar {
	width: 600px;
	height: 100%;
	position: absolute;
	top: 0;
	left: -600px;
	padding-top: 39px; // navbar height 
	background: white;
	box-shadow: 0 0 0 darken(white, 18%);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	&.active {
		left: 0;
		box-shadow: 8px 0 0 darken(white, 18%);
		-webkit-transition: all 0.5s ease-out;
		-moz-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out; 
		.back-arrow {
			right: calc(-25px - 0.5em);
		}
	}
}