@import 'base';

#profile {
	.container {
		width: 100%;
		height: 100%;
		margin: auto;
		margin-top: 120px; // navbar height and some more
	}
	.content {
		width: 80%;
		margin: auto;
	}
	.last-pixel-at {
		color: lighten($font-color-body, 25%);
		margin: 1.5em 0;
	}
	.board {
		display: inline-block;
		margin: 1em;
		.board-icon {
			width: 80px;
			height: 80px;
			vertical-align: middle;
			text-align: center;
			padding: 1em;
			background-color: $blue;
			box-shadow: 0 4px 0 0 darken($blue, 18%);
			color: white;
			&:active{
		        transform: translateY(4px);
		        box-shadow: none;
		    }
		}
		h3 {
			margin: 1em 0 0.5em 0;
		}
		p {
            display: inline-block;
            color: lighten($font-color-body, 25%);
            font-size: 0.8em;
            margin: 0.25em;
            margin-right: 0.5em;
            .fa {
                margin: 0;
                margin-right: 5px;
            }
        }
	}
}

