<!DOCTYPE html>
<html>

    <head>
        <title>{{title}} | plix</title>
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Karla" rel="stylesheet">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
        <link rel="stylesheet" href="/stylesheets/{{ stylesheet }}.css"/>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    </head>