<nav> 
    <a href="/">
    	<div class="logo">
      		<h3 class="title">plix</h3>
    	</div>
   	</a>
    {{#if user}}
    <div class="account">
    	<h3>{{ user.username }}</h3>
    	<ul class="account-options">
    		<li><a href="/settings"><i class="fa fa-user settings button"></i></a></li>
    		<li><a href="/logout"><i class="fa fa-sign-out logout button"></i></a></li>
    	</ul>
    </div>
    {{else}}
    {{/if}}
</nav>