<!DOCTYPE html>
<html>

    <head>
        <title>welcome to plix</title>
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Karla" rel="stylesheet">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
        <link rel="stylesheet" href="/stylesheets/base.css"/>
        <link rel="stylesheet" href="/stylesheets/index.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    </head>

    <body>

        <div class="container">
            <div class="content">
                <h1 class="title">plix</h1>
                <a href="/login"><div class="button">login</div></a>
                <a href="/register"><div class="button">register</div></a>
            </div>
        </div>

    </body>

</html>
