{{>head stylesheet="index" title="welcome"}}

    <body>
        <div class="container">
            <div class="content">
                <h1 class="title">welcome to plix</h1>
                <h2>your pixel art community</h2>
                <a href="/register"><div class="button">get started</div></a>
                <p class="hint">already have an account? <a href="/login">sign in</a>.</p>
            </div>
        </div>

        <div class="cloud-box">
          <div class="clouds"></div>
        </div>

        <!-- Scripts -->
        <script src="/scripts/index.js"></script>
    </body>

</html>
