{{>head stylesheet="logreg" title="login"}}

    <body>
        <div class="container">
            <div class="content">
                <h1 class="title">login</h1>
                <form method='POST'>
                    <div class="field"><i class="fa fa-user"></i><input type="username" name="username" placeholder="username" /></div>
                    <div class="field"><i class="fa fa-lock"></i><input type="password" name="password" placeholder="password" /></div>
                    <input class="submit" type="submit" value="login" />
                </form>
                <p class="hint">don't have an account? <a href="/register">register</a>. </p>
            </div>
        </div>

        <div class="cloud-box">
          <!-- Clouds go here-->
          <div class="clouds"></div>
        </div>

        <!-- Scripts -->
        <script src="/scripts/index.js"></script>
    </body>

</html>
