{{>head stylesheet="index" title="register"}}

    <body>
        <div class="container">
            <div class="content">
                <h1 class="title">register</h1>
                <form method='POST'>
                    <input type="email" name="email" placeholder="email@plix.io" />
                    <input type="username" name="username" placeholder="username" />
                    <input type="password" name="password" placeholder="password" />
                    <input type="submit" value="register" />
                </form>
            </div>
        </div>
    </body>

</html>
