html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  color: #404040;
  overflow: hidden; }

*, *:hover {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  display: none;
  visibility: hidden; }

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none; }

.title {
  font-family: "Fredoka One", sans-serif;
  font-size: 3em; }

.button {
  text-align: center;
  background: #FFDD4A;
  border-radius: 0.5em;
  box-shadow: 0 4px 0 0 #edc100;
  transition: transform 0.1s, box-shadow 0.1s;
  color: #404040; }
  .button:active {
    transform: translateY(4px);
    box-shadow: none; }

nav {
  width: 100%;
  padding: 1em 2em;
  position: absolute;
  top: 0;
  height: 40px;
  background: transparent;
  z-index: 9; }
  nav * {
    display: inline-block;
    margin: 0; }
  nav .logo h3 {
    font-size: 2em;
    color: #4dbcf8;
    opacity: 0.8; }
    nav .logo h3:hover {
      opacity: 1; }
  nav .account {
    float: right;
    margin-right: 50px;
    vertical-align: middle; }
    nav .account > * {
      margin-left: 0.5em; }
    nav .account .account-options {
      padding-left: 0; }
      nav .account .account-options li {
        display: inline-block; }
      nav .account .account-options .settings, nav .account .account-options .logout {
        width: 15px;
        height: 15px;
        text-align: center;
        border-radius: 50% 50%;
        padding: 1em;
        vertical-align: middle; }
        nav .account .account-options .settings:hover, nav .account .account-options .logout:hover {
          cursor: pointer; }
      nav .account .account-options .logout {
        background: #e16685;
        box-shadow: 0 4px 0 0 #d94067; }

@media only screen and (max-width: 960px) {
  html, body {
    overflow-y: auto; }
  nav {
    width: calc(100% - 2em);
    padding: 1em; }
    nav .account {
      margin-right: 0; } }

#view-board {
  position: relative; }
  #view-board > .container {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: auto;
    padding: 1em 0.5em; }
  #view-board .content {
    width: 80%;
    margin: auto; }
  #view-board .board-details h1 {
    font-family: "Fredoka One";
    font-size: 3em;
    margin: 0.5em 0; }
  #view-board .board-details p {
    display: inline-block;
    font-size: 1.25em;
    color: gray;
    margin: 0.5em;
    margin-left: 0; }
    #view-board .board-details p .fa {
      margin: 0;
      margin-right: 5px; }
  #view-board .board-container {
    display: inline-block; }
    #view-board .board-container .board {
      margin: 20px 20px 0 0;
      min-width: 672px; }
      #view-board .board-container .board .row {
        display: flex; }
        #view-board .board-container .board .row .block {
          width: 7px;
          height: 7px;
          transition: opacity 0.1s; }
          #view-board .board-container .board .row .block .overlay {
            opacity: 0;
            width: 7px;
            height: 7px;
            position: absolute;
            background-color: #4dbcf8; }
          #view-board .board-container .board .row .block:hover .overlay {
            opacity: 0.5; }
    #view-board .board-container:hover {
      cursor: crosshair; }
  #view-board #board-panel {
    display: inline-block;
    vertical-align: top;
    margin: 1em; }
    #view-board #board-panel .fa {
      margin-right: 0.5em; }
    #view-board #board-panel #paint .picker {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.3s opacity 0.3s;
      display: none; }
    #view-board #board-panel #paint p.error {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.3s opacity 0.3s;
      display: none; }
    #view-board #board-panel #paint p.loader {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.3s opacity 0.3s;
      display: none; }
    #view-board #board-panel #paint.loading p.loader {
      display: block;
      visibility: visible;
      opacity: 1; }
    #view-board #board-panel #paint.show .picker {
      display: block;
      visibility: visible;
      opacity: 1; }
    #view-board #board-panel #paint.error p.error {
      display: block;
      visibility: visible;
      opacity: 1; }
    #view-board #board-panel #paint p {
      font-size: 1.25em;
      margin: 1.5em 0;
      color: gray; }
    #view-board #board-panel #paint #pixcolor {
      width: 25px;
      height: 25px;
      padding: 1em;
      margin-left: 2em;
      color: transparent !important;
      border-radius: 50% 50%;
      border: 4px solid #e6e6e6 !important; }
      #view-board #board-panel #paint #pixcolor:focus {
        outline: none !important; }
      #view-board #board-panel #paint #pixcolor:hover {
        cursor: pointer !important; }
    #view-board #board-panel #leaderboard {
      font-size: 1.25em;
      margin-bottom: 2em; }
      #view-board #board-panel #leaderboard p {
        margin: 1.5em 0;
        color: gray; }
      #view-board #board-panel #leaderboard .username {
        font-weight: bold; }
      #view-board #board-panel #leaderboard .count {
        float: right; }
      #view-board #board-panel #leaderboard table {
        min-width: 300px;
        padding: 0 1em; }
      #view-board #board-panel #leaderboard td {
        padding: 0.25em; }
      #view-board #board-panel #leaderboard .leaders tr:nth-child(1) {
        color: #dfa841;
        font-size: 1.1em; }
      #view-board #board-panel #leaderboard .leaders tr:nth-child(2) {
        color: #989294;
        font-size: 1.1em; }
      #view-board #board-panel #leaderboard .leaders tr:nth-child(3) {
        color: #d2793e;
        font-size: 1.1em; }

@media only screen and (max-width: 960px) {
  #view-board {
    font-size: 0.8em; }
    #view-board .container {
      padding: 2.5em 0; }
    #view-board .board-container {
      display: block; }
      #view-board .board-container .board {
        min-width: 100vw; }
        #view-board .board-container .board .row .block, #view-board .board-container .board .row .block .overlay {
          width: calc(100vw / 96);
          height: calc(100vw / 96); }
    #view-board .board-details {
      width: 80%;
      margin: auto; }
      #view-board .board-details > * {
        margin: 0.25em; }
    #view-board .back-arrow {
      width: 15px;
      height: 15px;
      font-size: 1em;
      left: 10px;
      right: auto; }
    #view-board .content {
      width: 100%;
      margin: auto; } }
