html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Karla", sans-serif;
  color: #404040;
  overflow-x: hidden; }

*, *:hover {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none; }

.title {
  font-family: "Fredoka One", sans-serif;
  font-size: 3em; }

.button {
  text-align: center;
  background: #FFDD4A;
  border-radius: 0.5em;
  box-shadow: 0 4px 0 0 #FFBB2B;
  transition: transform 0.1s, box-shadow 0.1s;
  color: #404040; }
  .button:active {
    transform: translateY(4px);
    box-shadow: none; }

nav {
  padding: 1em 2em; }
  nav * {
    display: inline-block;
    margin: 0; }
  nav .logo h3 {
    font-size: 2em;
    color: #4dbcf8; }
  nav .account {
    float: right;
    vertical-align: middle; }
    nav .account > * {
      margin-left: 0.5em; }
    nav .account .fa {
      width: 15px;
      height: 15px;
      text-align: center;
      border-radius: 50% 50%;
      padding: 1em;
      vertical-align: middle; }
      nav .account .fa:hover {
        cursor: pointer; }

.container {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex; }

.content {
  width: 80%;
  margin: auto;
  text-transform: lowercase; }

.title {
  color: #d94067; }
