html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Karla", sans-serif;
  color: #404040;
  overflow-x: hidden; }

*, *:hover {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none; }

.title {
  font-family: "Fredoka One", sans-serif;
  font-size: 3em; }

nav {
  background: #4dbcf8;
  text-align: center;
  padding: 1em;
  color: white; }

nav h3 {
  margin: 0 auto; }

body {
  background: #4dbcf8;
  color: white; }

.container {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex; }

.content {
  width: 80%;
  margin: auto;
  text-align: center;
  position: static;
  z-index: 999; }

.title {
  text-align: center;
  margin: 0 auto; }

.button {
  padding: 1em;
  text-align: center;
  margin: 0.5em auto;
  background: #bbbbbb;
  max-width: 180px;
  border-radius: 0.5em; }

.cloud {
  position: absolute;
  opacity: 0; }

.slow-scroll {
  animation: scroll 120000ms linear infinite; }

.medium-scroll {
  animation: scroll 80000ms linear infinite; }

.fast-scroll {
  animation: scroll 40000ms linear infinite; }

@keyframes scroll {
  0% {
    left: -100%;
    opacity: 1; }
  100% {
    left: 100%;
    opacity: 1; } }
