html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  color: #404040;
  overflow: hidden; }

*, *:hover {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  display: none;
  visibility: hidden; }

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none; }

.title {
  font-family: "Fredoka One", sans-serif;
  font-size: 3em; }

.button {
  text-align: center;
  background: #FFDD4A;
  border-radius: 0.5em;
  box-shadow: 0 4px 0 0 #edc100;
  transition: transform 0.1s, box-shadow 0.1s;
  color: #404040; }
  .button:active {
    transform: translateY(4px);
    box-shadow: none; }

nav {
  width: 100%;
  padding: 1em 2em;
  position: absolute;
  top: 0;
  height: 40px;
  background: transparent;
  z-index: 1; }
  nav * {
    display: inline-block;
    margin: 0; }
  nav .logo h3 {
    font-size: 2em;
    color: #4dbcf8;
    opacity: 0.8; }
    nav .logo h3:hover {
      opacity: 1; }
  nav .account {
    float: right;
    margin-right: 50px;
    vertical-align: middle; }
    nav .account > * {
      margin-left: 0.5em; }
    nav .account .account-options {
      padding-left: 0; }
      nav .account .account-options li {
        display: inline-block; }
      nav .account .account-options .settings, nav .account .account-options .logout {
        width: 15px;
        height: 15px;
        text-align: center;
        border-radius: 50% 50%;
        padding: 1em;
        vertical-align: middle; }
        nav .account .account-options .settings:hover, nav .account .account-options .logout:hover {
          cursor: pointer; }
      nav .account .account-options .logout {
        background: #e16685;
        box-shadow: 0 4px 0 0 #d94067; }

@media only screen and (max-width: 960px) {
  html, body {
    overflow-y: auto; }
  nav {
    width: calc(100% - 2em);
    padding: 1em; }
    nav .account {
      margin-right: 0; } }

body {
  background: #4dbcf8;
  color: white; }

.container {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex; }

.cloud-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.content {
  width: 80%;
  margin: auto;
  text-align: center;
  position: static;
  z-index: 999; }

.title {
  text-align: center;
  margin: 0 auto; }

.button {
  padding: 1em;
  text-align: center;
  margin: 0.5em auto;
  max-width: 180px; }

.hint {
  font-size: 0.8em;
  margin: 1.5em auto; }

.cloud {
  position: absolute;
  opacity: 0; }

.slow-scroll {
  animation: scroll 120000ms linear infinite; }

.medium-scroll {
  animation: scroll 80000ms linear infinite; }

.fast-scroll {
  animation: scroll 40000ms linear infinite; }

@keyframes scroll {
  0% {
    left: -100%;
    opacity: 1; }
  100% {
    left: 100%;
    opacity: 1; } }
